.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.appBar {
  z-index: 1300; /* Make sure the AppBar is above other components */
}

.chatBox {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  overflow-y: auto;
}

.messagesContainer {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.sendButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendButton:disabled {
  background-color: #ccc;
}

.userMessage {
  text-align: right;
  margin-bottom: 10px;
}

.userMessage .messageText {
  background-color: #DCF8C6; /* Fondo verde similar a WhatsApp */
  color: #000000; /* Color de texto negro */
}

.botMessage {
  text-align: left;
  margin-bottom: 10px;
}

.messageText {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background-color: #e0e0e0;
}

.messageImage {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.articlesContainer {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  overflow-x: auto; /* Enable horizontal scroll for mobile devices */
}

.articleCard {
  min-width: 250px;
}

@media (max-width: 768px) {
  .articlesContainer {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    padding: 10px;
  }

  .articleCard {
    min-width: 300px;
    margin-right: 10px;
  }
}
