/* App.css */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chatBox {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.inputContainer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sendButton {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #0056b3;
}

.messagesContainer {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.userMessage,
.botMessage {
  margin-bottom: 10px;
}

.userMessage {
  align-self: flex-end;
  background-color: #e0ffe0;
  color: #004d00;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  max-width: 80%;
  word-wrap: break-word;
}

.botMessage {
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  margin: 5px;
  max-width: 80%;
  word-wrap: break-word;
}

.messageText {
  margin: 0;
}

.messageImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  display: block;
  margin: 10px auto;
}

.articlesContainer {
  display: flex;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  flex-direction: row;
}

.articleCard {
  margin: 0 10px;
}

.articlesContainer {
  flex-direction: column;
  overflow-y: auto;
  border-left: 1px solid #ccc;
  border-bottom: none;
}

.chatBox {
  flex: 2;
  border-right: none;
}

.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
