.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.chatBox {
  flex: 1;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #f0f8ff;
  overflow-y: auto;
}

.userMessage {
  align-self: flex-end;
  background-color: #dcf8c6;
  border-radius: 12px;
  margin: 5px 0;
  padding: 10px;
}

.botMessage {
  align-self: flex-start;
  background-color: #ececec;
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px;
}

.messageText {
  font-size: 16px;
}

.inputContainer {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 10px;
}

.input {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}

.sendButton {
  background-color: #007bff;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.sendButton:hover {
  background-color: #0056b3;
}
